@font-face {
    font-family: 'Satoshi-Regular';
    src: url('../fonts/Satoshi-Regular.woff2') format('woff2'),
         url('../fonts/Satoshi-Regular.woff') format('woff'),
         url('../fonts/Satoshi-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }

body {
    font-family: 'Satoshi-Regular';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #003d61;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

section {
    padding: 40px;
}

section h2 {
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}



  